.bookList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.book {
  width: 16%; 
  margin: 10px;
  border: 1px solid #ddd;
  text-align: center;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.book:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.bookTitle {
  margin-top: 0;
}

.bookImage {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.bookAuthor {
  margin-bottom: 0;
}

.text{
  text-align: center;
}

@media (max-width: 768px) {
  .bookList {
    justify-content: flex-start; 
  }

  .book {
    width: calc(50% - 30px);
  }

  .bookImage {
    object-fit: fill;
  }

  .bookTitle {
    font-size: 20px; 
  }

  .bookAuthor {
    font-size: 110%; /* Увеличиваем размер шрифта автора книги на 10% */
  }
}
