body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 18px;
}

header {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 100%;
  display: flex;
}

main {
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
